/* 초기화 */
* {
    margin: 0px;
    padding: 0px;
}


/* BODY 영역 */
body{
    min-height: 1000px;
    background-image: url('/images/intro2.jpg');
}
.backgroundshadow{ /* BODY 영역 어두운 그림자 효과 */
    position: absolute;
    width: 100%;
    min-height: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
}


/* 상호작용 영역 멤버 추가 영역 */
.memberAddBox{ /* 상호작용 영역 멤버추가 영역 구성 */
    position: absolute;
    left: 36%;
    transform: translate(0%, -700px);
    border: 2px solid white;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    z-index: 10;
    transition: 1s;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    /* opacity: 0; */
    /* background-color: green; */
}
.AddBoxDown{
    transform: translate(0%, 200px);
}

.topBoxArea{ /* 상호작용 영역 멤버추가 영역 구성 */
    display: flex;
}
.topBoxArea > button{ /* 상호작용 영역 멤버추가 영역 구성 */
    width: 50px;
    height: 50px;
    position: absolute;
    color: white;
    margin-left: 450px;
    border-style: none;
    border-radius: 0px 20px 0px 10px;
    background-color: #575C79;
}
.topBoxArea > button:active{ /* 상호작용 영역 멤버추가 영역 구성 */
    color: black;
    background-color: #F1F2F3;
}
.topBoxArea > h2{ /* 상호작용 영역 멤버추가 영역 구성 */
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #575C79;
    /* background-color: red; */
}

.aaa{ /* 상호작용 영역 멤버추가 영역 구성 */
    width: 300px;
    margin: 0px 100px;
    padding: 20px 0px;
    /* background-color: green; */
}
.aaa > p{ /* 상호작용 영역 멤버추가 영역 구성 */
    font-size: 20px;
    font-weight: bold;
    color: white;
    /* background-color: pink; */
}
.aaa > input { /* 상호작용 영역 멤버추가 영역 구성 */
    width: 290px;
    height: 30px;
    padding-left: 10px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #8C8C8C;
}
.memberAddBtn{ /* 상호작용 영역 멤버추가 영역 구성 */
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    /* background-color: blue; */
}
.memberAddBtn > button{ /* 상호작용 영역 멤버추가 영역 구성 */
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #575C79;
}
.memberAddBtn > button:active{ /* 상호작용 영역 멤버추가 영역 구성 */
    color: black;
    background-color: #F1F2F3;
}


/* 상호작용 영역 멤버 수정 영역 */
.memberUpdateBox{ /* 상호작용 영역 멤버수정 영역 구성 */
    position: absolute;
    /* opacity: 0; */
    border: 2px solid white;
    left: 36%;
    transform: translate(0%, -700px);
    width: 500px;
    height: 600px;
    border-radius: 20px;
    z-index: 10;
    transition: 1s;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}
.UpdateBoxDown{
    transform: translate(0%, 200px);
}


/* 상호작용 영역 */
body > div.backgroundshadow > div.optionBox{ /* 상호작용 영역 크기및 위치, 불투명하게 설정 */
    width: 800px;
    min-height: 900px;
    margin: 40px auto;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
body > div.backgroundshadow > div.optionBox > div.interactionBox{
    width: 800px;
    min-height: 900px;
    /* background-color: red; */
}
body > div.backgroundshadow > div.optionBox > div.interactionBox > div.memberLogoutArea{
    width: 800px;
    height: 50px;
    display: flex;
    /* background-color: blue; */
}
body > div.backgroundshadow > div.optionBox > div.interactionBox > div.memberLogoutArea > div{
    width: 100%;
    /* background-color: pink; */
}
body > div.backgroundshadow > div.optionBox > div.interactionBox > div.memberLogoutArea > p,a{
    width: 90px;
    padding: 14px 10px;
    color: white;
    text-decoration: none;
    /* background-color: purple; */
}
body > div.backgroundshadow > div.optionBox > div.interactionBox > div.searchInteractionArea{
    width: 800px;
    height: 70px;
    display: flex;
    /* background-color: green; */
}
body > div.backgroundshadow > div.optionBox > div.interactionBox > div.searchInteractionArea > form > div.searchBoxArea{
    width: 240px;
    height: 36px;
    display: flex;
    margin-top: 15px;
    margin-left: 340px;
    border-radius: 6px;
    border: 2px solid white;
}
body > div.backgroundshadow > div.optionBox > div.interactionBox > div.searchInteractionArea > form > div.searchBoxArea > input{
    width: 180px;
    height: 36pxpx;
    padding-left: 10px;
    border-style: none;
    background-color: #EAEAEA;
}
body > div.backgroundshadow > div.optionBox > div.interactionBox > div.searchInteractionArea > form > div.searchBoxArea > button{
    width: 60px;
    height: 36px;
    border-style: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}
body > div.backgroundshadow > div.optionBox > div.interactionBox > div.searchInteractionArea > form > div.searchBoxArea > button:active{
    color: black;
    background-color: white;
}
.searchbtn{
    width: 120px;
    height: 40px;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 16px;
    border-radius: 6px;
    border: 2px solid white;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}
.searchbtn:active{
    color: black;
    background-color: white;
}



body > div.backgroundshadow > div.optionBox > div.interactionBox > div.memberListArea{
    width: 800px;
    min-height: 50px;
    margin-top: 30px;
    /* background-color: orange; */
}
body > div.backgroundshadow > div.optionBox > div.interactionBox > div.memberListArea > table{
    width: 800px;
    /* background-color: pink; */
}
th{
    border-radius: 6px;
    background-color: #C6C6C6;
}
td{
    border-radius: 6px;
    text-align: center;
    background-color: #EAEAEA;
}