* {
    margin: 0px;
    padding: 0px;
}



/*//////////////////// Header영역 - 최상단 배너부분 ////////////////////*/
header{
    position: absolute;
    width: 100%;
    display: flex;
    height: 120px;
    z-index: 100;
    transition: 0.7s;
    background-color: rgba(255, 255, 255, 0);
}
header.sticky{
    position: fixed;
    transition: 0.7s;
    height: 80px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
}
header > div.headerLogoArea{
    display: flex;
    /* background-color: palegreen; */
}


header > div.headerLogoArea > img.headerLogoImage{
    width: 120px;
    height: 120px;
    margin-left: 60px;
    transition: 1s;
}
header > div.headerLogoArea > img.headerLogoImageSmall{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 30px;
    transition: 1s;
}


header > div.headerLogoArea > div.headerLogoText{
    width: 160px;
    padding-left: 10px;
    padding-top: 40px;
    color: white;
}
.hidden{
    visibility: hidden;
}

header > div.headerLogoArea > div.headerLogoText > p{
    font-size: 20px;
    font-weight: bold;
}




header > div.headerMenuListBarArea{
    margin-top: 56px;
    transition: 1s;
}
header ul{
    list-style: none;
    display: flex;
    color: white;
    transition: 2s;
}
header li{
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}
header li:hover{
    border-bottom: 4px solid;
}




header > div.headerSearchArea{
    width: 100%;
    padding-top: 50px;
    transition: 1s;
    /* background-color: pink; */
}
header > div.headerSearchArea > div.loginLogoutPosition{
    display: flex;
    position: absolute;
    right: 100px;
    /* background-color: red; */
}
header > div.headerSearchArea > div.loginLogoutPosition > p, a{
    display: flex;
    padding: 10px 0px;
    margin-right: 20px;
    color: white;
    transition: 1s;
    text-decoration: none;
    /* background-color: red; */
}
.loginBtnStyle{
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}
.loginBtnStyle:active{
    color: black;
    background-color: rgba(255, 255, 255, 1);
}







.loginInsertAreaBox{
    width: 400px;
    height: 500px;
    left: 50%;
    border: 2px solid white;
    transform: translate(-50%, -700px);
    border-radius: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    transition: 1s;
}
.loginInsertAreaBoxMove{
    transform: translate(-50%, 200px);
}
.loginInsertAreaBox > h1{
    text-align: center;
    padding: 16px 0px;
    color: white;
    /* background-color: red; */
}
.loginInsertAreaBox > form > div.forgetpw{
    margin: 20px 50px;
    float: right;
    /* background-color: red; */
}
.loginInsertAreaBox > form > div.forgetpw > a{
    color: #575C79;
    font-weight: bold;
    text-decoration: none;
}
.goRegister{
    text-align: center;
    color: #F1F2F3;
    font-weight: bold;
    /* background-color: red; */
}



.registerAreaBox{
    width: 400px;
    height: 600px;
    position: absolute;
    left: 50%;
    border: 2px solid white;
    transform: translate(-50%, -700px);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    transition: 1s;
}
.registerAreaBoxMove{
    transform: translate(-50%, 200px);
}

.closeLoginArea{
    width: 400px;
    height: 40px;
    /* background-color: red; */
}
.closeLoginbtn{
    width: 40px;
    height: 40px;
    float: right;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    border-radius: 0px 20px 0px 20px;
    background-color: #575C79;
}
.closeLoginbtn:active{
    color: #575C79;
    background-color: white;
}
.registerAreaBox > h1{
    text-align: center;
    padding: 16px 0px;
    color: white;
    /* background-color: red; */
}
.dataSlotBox{
    height: 60px;
    /* background-color: antiquewhite; */
}

.dataInsertArea > button{
    width: 310px;
    height: 40px;
    margin: 20px 40px;
    color: #F1F2F3;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    background-color: #575C79;
}
.dataInsertArea > button:active{
    color: #575C79;
    background-color: #F1F2F3;
}
.dataSlotBox > div{
    width: 310px;
    margin: 30px 40px;
    border-bottom: 2px solid #575C79;
}
.dataSlotBox > div > p{
    font-weight: bold;
    color: #575C79;
}
.dataSlotBox > div > input{
    width: 260px;
    height: 22px;
    padding: 8px 0px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
}
.dataSlotBox > div > img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: absolute;
}
.checkSlotBox{
    width: 260px;
    margin: 10px 40px;
    text-align: center;
    color: #F1F2F3;
    /* background-color: red; */
}



/*//////////////////// Main영역 - 중간 여러 옵션 부분 ////////////////////*/
main{
    min-height: 100px;
    background-color: blue;
}


/* ------------------------------인트로 영역------------------------------ */
.mainIntroArea > img{
    width: 100%;
    height: 1200px;
    display: block;
    filter: brightness(60%);
    /* https://www.youtube.com/watch?v=O8tsFu8cE20&ab_channel=JoshuaTurner */
}
.mainIntroArea > div.introText{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 400px;
    z-index: 1;
    color: white;
    transition: 1s;
}
.mainIntroArea > div.introText > h1{
    font-size: 80px;
}
.mainIntroArea > div.introText > p{
    margin-top: 10px;
}


/* ------------------------------사진1 영역------------------------------ */
.mainPhotoArea1{
    height: 1300px;
    background-color: #F1F2F3;
}

.mainPhotoArea1 > div.mainPhotoArea1TextZone{
    text-align: center;
    padding-top: 100px;
    /* background-color: red; */
}
.mainPhotoArea1 > div.mainPhotoArea1TextZone > h1{
    font-size: 60px;
}
.mainPhotoArea1 > div.mainPhotoArea1TextZone > p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.mainPhotoArea1 > div.mainPhotoArea1PhotoZone{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    /* background-color: gold; */
}
.mainPhotoArea1 > div.mainPhotoArea1PhotoZone > div.text{
    width: 440px;
    height: 640px;
    border: 30px solid #575C79;
    padding: 30px;
    /* background-color: blueviolet; */
}
.mainPhotoArea1 > div.mainPhotoArea1PhotoZone > div.text > h1{
    font-size: 34px;
}
.mainPhotoArea1 > div.mainPhotoArea1PhotoZone > div.text > p{
    font-size: 20px;
    font-weight: bold;
}
.mainPhotoArea1 > div.mainPhotoArea1PhotoZone > div.text > a{
    width: 200px;
    text-align: center;
    padding: 24px 0px;
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 80px;
    color: white;
    transition: 0s;
    background-color: black;
}
.mainPhotoArea1 > div.mainPhotoArea1PhotoZone > div.text > a:active{
    background-color: #363636;
}
.mainPhotoArea1 > div.mainPhotoArea1PhotoZone > div.photo1{
    z-index: 1;
}
.mainPhotoArea1 > div.mainPhotoArea1PhotoZone > div.photo1 > img{
    width: 560px;
    height: 760px;
    margin-left: 50px;
}
.mainPhotoArea1 > div.mainPhotoArea1PhotoZone > div.photo2 > img{
    width: 560px;
    height: 760px;
    margin-left: -140px;
    margin-top: 60px;
    position: relative;
}









/* ------------------------------사진2 영역------------------------------ */
.mainPhotoArea2{
    height: 1000px;
    background-color: #575C79;
}

/* ------------------------------서비스 영역------------------------------ */
.serviceArea{
    background-color: #575C79;
}
.serviceArea > div.memberDataZone{
    display: flex;
    height: 200px;
    justify-content: center;
    /* background-color: gold; */
}
.serviceArea > div.memberDataZone > div{
    width: 1200px;
    height: 200px;
    position: absolute;
    margin-top: -100px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 100px 100px;
    background-color: white;
    text-align: center;
    align-items: center;
}
.serviceArea > div.memberDataZone > div > h1{
    align-self: flex-end;
}
.serviceArea > div.memberDataZone > div > p{
    align-self: flex-start;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}
.line{
    border-left: 2px solid black;
}



.serviceArea > div.serviceTitleTextZone{
    text-align: center;
    color: #F6F6F6;
    /* background-color: red; */
}
.serviceArea > div.serviceTitleTextZone > h1{
    font-size: 60px;
}
.serviceArea > div.serviceTitleTextZone > p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}




.clickBtnZone{
    width: auto;
    height: 700px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}
.clickBtnZone > div > a{
    text-decoration: none;
}
.blocks{
    margin: 80px 30px;
    width: 500px;
    height: 540px;
    transition: 0.7s;
    border-radius: 20px;
}
.blocks:hover{
    transition: 0.7s;
    transform: scale(1.2);
}
.bgimg1{
    background-size: cover;
    background-image: url('../../images/searchPic.jpg');
}
.bgimg2{
    background-size: cover;
    background-image: url('../../images/addUpdatePic.jpg');
}
.bgimg3{
    background-size: cover;
    background-image: url('../../images/deletePic.jpg');
}
.textSul{
	position: absolute;
    width: 100%;
    height: 540px;
    margin-top: -10px;
    font-size: 30px;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    color: white;
    border-radius: 20px;
}
.textSul:hover{
    transition: 0.5s;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
}



/* ------------------------------사진3 영역------------------------------ */
.mainPhotoArea3{
    height: 900px;
    background-color: #575C79;
}




/* ------------------------------큐브 영역------------------------------ */
.cubeTitleTextArea{
    padding-top: 80px;
    background-color: #F1F2F3;
    text-align: center;
}
.cubeTitleTextArea > h1{
    font-size: 60px;
}
.cubeTitleTextArea > p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}



.cubeArea{
    min-height: 100px;
    display: flex;
    background-color: #F1F2F3;
}
.container{
    width: 100%;
    height: 700px;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;/* 해당 태그 안에 있는 요소들에게 원근감을 부여한다. */
    /* background-color: darkolivegreen; */
}
.cube{
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;/* 해당 태그에 들어있는 모든 것을 3D공간 세계로 보내버렷 */
}
.cube:hover{
    animation-name: rolly;/* 실행할 애니메이션 이름 */
    animation-duration: 3s;/* 애니메이션이 총 실행될 시간 */
    animation-timing-function: ease;/* 애니메이션을 천천히 시작하다가 빠르게 진행하며 천천히 종료 */
    animation-fill-mode: forwards;/* 애니메이션이 끝나면 마지막 style을 유지 */
}
.cube > div{
    position: absolute;
    /* opacity: 0.8; */
    /* border: 2px solid white; */
}



.front1{
    background-color: aqua;
    background-image: url('../../images/securityPhoto.jpg');
    background-size: cover;
    width: 300px;
    height: 400px;
    transform: translateZ(150px);
}
.front2{
    background-color: aqua;
    background-image: url('../../images/Photo2.jpg');
    background-size: cover;
    width: 300px;
    height: 400px;
    transform: translateZ(150px);
}
.front3{
    background-color: aqua;
    background-image: url('../../images/intro2.jpg');
    background-size: cover;
    width: 300px;
    height: 400px;
    transform: translateZ(150px);
}
.back{
    background-color: violet;
    width: 300px;
    height: 400px;
    transform: translateZ(-150px);
}
.left{
    background-color: gray;
    width: 300px;
    height: 400px;
    transform: rotateY(90deg) translateZ(150px);
}
.right{
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: #232530;
    transform: rotateY(-90deg) translateZ(150px);
}
.right > h2{
    margin: 30px 0px;
    color: white;
}
.right > p{
    color: white;
}
.top{
    background-color: blue;
    width: 300px;
    height: 300px;
    transform: rotateX(-90deg) translateZ(250px);
}
.bottom{
    background-color: goldenrod;
    width: 300px;
    height: 300px;
    transform: rotateX(90deg) translateZ(150px);
}

@keyframes rolly{
    from{
        transform: rotateY(0deg) translateZ(0px);
    }
    to{
        transform: rotateY(70deg) translateZ(0px);
    }
}

.cubeSulText1{
    /* background-color: red; */
    font-size: 24px;
    font-weight: bold;
    margin-top: 480px;
    margin-left: -240px;
    border-top: 3px solid black;
    padding-top: 20px;
    transform: translateZ(180px);
}
.cubeSulText2{
    /* background-color: red; */
    font-size: 24px;
    font-weight: bold;
    margin-top: 480px;
    margin-left: -230px;
    border-top: 3px solid black;
    padding-top: 20px;
    transform: translateZ(180px);
}
.cubeSulText3{
    /* background-color: red; */
    font-size: 24px;
    font-weight: bold;
    margin-top: 480px;
    margin-left: -250px;
    border-top: 3px solid black;
    padding-top: 20px;
    transform: translateZ(180px);
}


/*//////////////////// Footer영역 - 최하단 정보 텍스트 부분 ////////////////////*/
footer{
    min-height: 100px;
    color: white;
    background-color: #232530;
}


footer > div.jungTextAreaUp{
    display: flex;
    justify-content: center;
    /* background-color: coral; */
    padding: 40px 60px;
}
footer > div.jungTextAreaUp > div{
    width: 500px;
    /* background-color: blanchedalmond; */
}
footer > div.jungTextAreaUp > div.smallArea1 > img#footerIcon{
    width: 100px;
}
footer > div.jungTextAreaUp > div.smallArea1 > p{
    color: white;
    font-weight: bold;
}









footer > div.jungTextAreaDown{
    display: flex;
    justify-content: center;
    padding: 30px 60px;
    /* background-color: aqua; */
}
footer > div.jungTextAreaDown > div{
    width: 1000px;
    margin-bottom: 80px;
    /* background-color: green; */
}




footer > div.jungTextAreaDown > div.rightArea{
    height: 40px;
    display: flex;
    justify-content: flex-end;
}


footer > div.jungTextAreaDown > div.rightArea > input#emailTextBox{
    width: 260px;
    border: none;
    padding-left: 14px;
    color: white;
    font-weight: bold;
    background-color: #575C79;
}
footer > div.jungTextAreaDown > div.rightArea > input#emailTextBox::placeholder{
    color: lightgray;
}
footer > div.jungTextAreaDown > div.rightArea > button#emailBtn{
    width: 40px;
    border: none;
    background-color: #BDBDBD;
}
footer > div.jungTextAreaDown > div.rightArea > button#emailBtn > img{
    width: 20px;
    height: 20px;
}
footer > div.jungTextAreaDown > div.rightArea > button#emailBtn:active{
    color: white;
    background-color: #8C8C8C;
}